{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 2,
        "react/forbid-prop-types": [false],
        "import/no-unresolved": [
            "error",
            {
              "ignore": ["@"]
            }
          ]
    },
    "extends": "airbnb"
}
